.container{

    display:flex;

    flex-direction:column;

    gap:.5rem;

}

.fullWidth{

    width:100%;

}

.label{

    font-size:.95rem;

    font-weight:600;

}

.required{

    color:red;

    margin-left:4px;

}

.input{

    padding:.85rem 1rem;

    border:1px solid #D1D5DB;

    border-radius:10px;

    font-size:1rem;

    outline:none;

    transition:.2s;

}

.input:focus{

    border-color:#2563EB;

}

.input:disabled{

    background:#F3F4F6;

    cursor:not-allowed;

}

.errorInput{

    border-color:#DC2626;

}

.error{

    color:#DC2626;

    font-size:.85rem;

}